.acm-editor-container {
  margin: 10px auto;
  max-width: 500px;
  padding: 10px;
}

.acm-editor-container .acm-editor-title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
}

.acm-editor-container .acm-editor-subtitle {
  font-size: 20px;
  font-weight: bold;
  margin: 25px 0 15px;
}

.acm-editor-container .acm-editor-event-preview-container {
  display: flex;
  gap: 10px;
  width: 100%;
  overflow: scroll;
}

.acm-editor-event-preview-container .acm-editor-event-preview {
  display: flex;
  gap: 10px;
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  align-items: center;
  height: 30px;
  white-space: nowrap;
}

.acm-editor-event-preview .acm-editor-event-preview-title {
  font-size: 18px;
}

.acm-editor-event-preview .acm-editor-event-preview-delete-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #cc0b0b;
  font-size: 18px;
  font-weight: bolder;
  text-align: center;
  border-radius: 100%;
  margin: 5px;
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

.acm-editor-container .acm-editor-form-container {
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 10px;
  gap: 10px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
}

.acm-editor-form-container .acm-editor-form-title {
  font-size: 18px;
  font-weight: bold;
  margin: 5px;
}

.acm-editor-form-container .acm-editor-form {
  display: flex;
  flex-direction: column;
}

.acm-editor-form textarea,
.acm-editor-form input {
  border: 1px solid #dfdfdf;
  border-radius: 10px;
  padding: 10px;
  min-height: 20px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.acm-editor-form textarea {
  resize: vertical;
}

.acm-editor-form .acm-editor-form-label {
  font-size: 16px;
  margin-left: 5px;
}
.acm-editor-form .acm-editor-form-file-input-container {
  border: 1px solid #dfdfdf;
  border-radius: 10px;
  display: flex;
  padding: 10px;
  background-color: #fff;
  margin-top: 10px;
  margin-bottom: 15px;
}

.acm-editor-form-file-input-container .acm-editor-form-file-image-preview {
  height: 100px;
  width: 100px;
  min-width: 100px;
  min-height: 100px;
  background-color: #f0f0f0;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.acm-editor-form-file-image-preview .acm-editor-form-file-image {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.acm-editor-form-file-input-container .acm-editor-form-file-input-upload-area {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10px;
}

.acm-editor-form-file-input-upload-area .acm-editor-form-file-url {
  font-size: 14px;
}

.acm-editor-form-file-input-upload-area .acm-editor-form-file-input-button {
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-weight: bold;
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100px;
  height: 30px;
  color: #282828;
  background-color: #f0f0f0;
}

.acm-editor-form-file-input-button .acm-editor-form-file-input {
  opacity: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 100%;
}
