.acm-newsletter-container {
  margin: 10px auto;
  border-radius: 10px;
  padding: 10px;
  min-width: 300px;
  max-width: 500px;
}

.acm-newsletter-header {
  background-color: #fff;
  border: 1px solid #dfdfdf;
  padding: 10px 0;
  margin: 10px 0;
  border-radius: 10px;
  min-width: 300px;
  max-width: 500px;
}

.acm-newsletter-header .acm-newsletter-header-title {
  font-size: 42px;
  font-weight: bold;
  text-align: center;
  padding: 0 10px;
}

.acm-newsletter-header .acm-newsletter-header-date {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  padding: 0 10px;
  color: #e50909;
}