.acm-card-container {
  background-color: #fff;
  border: 1px solid #dfdfdf;
  margin: 10px 0;
  border-radius: 10px;
  min-width: 300px;
  max-width: 500px;
}

.acm-card-container .acm-card-img {
  border-radius: 10px 10px 0 0;
  width: 100%;
}

.acm-card-container .acm-card-header-container {
  padding: 10px;
}

.acm-card-header-container .acm-card-header-datetime {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 20px;
  color: #e50909;
  font-weight: bold;
}

.acm-card-header-container .acm-card-header-title {
  margin-top: 5px;
  font-size: 24px;
  line-height: 26px;
  font-weight: bold;
}

.acm-card-container .acm-card-details-container {
  padding: 10px;
  height: 100%;
}

.acm-card-details-container .acm-card-details-description {
  font-size: 18px;
  line-height: 22px;
  min-height: 0;
  min-width: 0;
  margin-bottom: 20px;
  color: #282828;
  text-align: justify;
  white-space: pre-wrap;
}

.acm-card-details-container .acm-card-details-cta {
  margin-top: auto;
  width: 100%;
}
