.acm-app-container {
  margin: 10px auto;
  border-radius: 10px;
  padding: 10px;
  min-width: 300px;
  max-width: 500px;
}

.acm-app-header {
  background-color: #fff;
  border: 1px solid #dfdfdf;
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
}

.acm-app-header .acm-app-header-title {
  font-size: 42px;
  font-weight: bold;
  text-align: center;
}

.acm-app-header .acm-app-header-datetime {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  color: #e50909;
}

.acm-app-footer {
  background-color: #fff;
  border: 1px solid #dfdfdf;
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
}

.acm-button {
  cursor: pointer;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  background-color: #cc0b0b;
  padding: 10px 8px;
  border: 0;
  border-radius: 10px;
}

.acm-button:hover {
  background-color: #a81010;
}
