.card-container {
  background-color: #ffacac;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  height: 400px;
  width: 300px;
  display: flex;
  flex-direction: column;
}

.card-container .card-header-container {
  border-bottom: 2px solid black;
}

.card-header-container .card-header-date {
}

.card-header-container .card-header-title {
}

.card-container .card-details-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.card-details-description {
  padding-top: 10px;
}
