.acm-button {
  cursor: pointer;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  background-color: #cc0b0b;
  box-shadow: 0 0 3px #00000030;
  padding: 10px 15px;
  border: 0;
  border-radius: 10px;
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

.acm-button:hover {
  background-color: #a81010;
}

.acm-button.acm-button-small {
  font-size: 16px;
  padding: 8px 15px;
}

.acm-button.acm-button-light {
  color: #282828;
  background-color: #f0f0f0;
}

.acm-button.acm-button-light:hover {
  background-color: #dedede;
}

.acm-navbar {
  background-color: #fdfdfd;
  box-shadow: 0 0 5px #00000030;
  padding: 10px 20px;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.acm-navbar .acm-navbar-item-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  max-width: 600px;
}

.acm-navbar-item-container .acm-navbar-title {
  margin-right: auto;
  font-size: 20px;
  font-weight: 600;
}

.acm-navbar-item-container .acm-navbar-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #424242;
  margin-left: 20px;
  width: 20px;
}

.acm-navbar-button .acm-navbar-button-icon {
  height: 20px;
  width: 20px;
}